# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# React
node_modules/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db"frontend.zip" 
"backend.zip" 

venv/
.venv/
dwmvenv/
backend/dwmvenv/